body{
    background-color: #1B244A;
    margin:0;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

@font-face{
    font-family: "CursedTimerUlil-Aznm";
    src: url('/fonts/CursedTimerUlil-Aznm.ttf');
} 

.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    margin: auto;
    min-width: 200px;
    max-width: 700px;
    padding-top: 30px;
}

.new-game-container{
    display: flex;
    background: #1B244A;
    justify-content: center;
    padding-top: 150px;
    margin: auto;
    min-width: 200px; 
    max-width: 700px;
}

#home-points, #guest-points{
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    color: #F94F6D;
    font-size: 90px; 
    text-align: center;
    font-family: "CursedTimerUlil-Aznm";
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 23px;
    width: 160px;
}

.homeAdd1-btn, .homeAdd2-btn, .homeAdd3-btn, .guestAdd1-btn, .guestAdd2-btn, .guestAdd3-btn, .newGame-btn{
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    text-align: center;
    font-family: "CursedTimerUlil-Aznm";
    justify-content: space-around;
    margin: 8px;
    cursor: pointer;
}

.newGame-btn{
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-right: 6px;
    border-radius: 50px;
    background-color: #9AABD8;
    color: #1B244A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

