body{
    margin:0;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
}

@font-face{
    font-family: "digital-7";
    src: url('/font/digital-7/digital-7.ttf');
}

.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #1B244A;
    color: white;
    margin: auto;
    min-width: 200px;
    max-width: 700px;
    padding-top: 30px;
}

.new-game-container{
    display: flex;
    background: #1B244A;
    justify-content: flex-end;
    padding-bottom: 8px;
    padding-top: 50px;
    margin: auto;
    min-width: 200px; 
    max-width: 700px;
}

#home-points, #guest-points{
    background-color: black;
    margin-bottom: 23px;
    font-size: 90px;
    text-align: center;
    font-family: "digital-7";
}

.homeAdd1-btn, .homeAdd2-btn, .homeAdd3-btn, .guestAdd1-btn, .guestAdd2-btn, .guestAdd3-btn, .newGame-btn{
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
}

.newGame-btn{
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-right: 6px;
    border-radius: 50px;
    background-color: #9AABD8;
    color: #1B244A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

